{% extends 'encuestas/base.html' %}

{% block content %}
  	<div class="container">
  		<div class="row">
  			<div class="col-md-5"></div>
  			<span class="border">
  				<div class="col-md-2">Preguntas</div>
			</span>
  			<div class="col-md-5"></div>
  		</div>
	    {% if latest_question_list %}
	    	<span class="border">
		    	<div class="row">
				{% for question in latest_question_list %}
						<div class="col-sm-4">
							<span class="border-left">
								<a href="{% url 'encuesta:form' question.id %}">{{ question.question_text }}</a>
								<!--<a href="/encuestas/{{ question.id }}/">{{question.question_text }}</a></li>-->
							</span>
						</div>		
				{% endfor %}
				</div>
			</span>
		{% else %}
			<p> No hay encuestas disponibles </p>
		{% endif %}
	</div>
{% endblock content %}